@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Segment';
  src: url('/fonts/Segment-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segment';
  src: url('/fonts/Segment-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Segment', sans-serif;
}

.svg-fill-base svg path {
  fill: theme('colors.base-content');
}

.force-btn-xs-ock {
  @apply !bg-transparent !p-0 font-normal;
}
.force-btn-xs-ock span {
  @apply text-xs opacity-50;
  font-family: 'Segment';
}
.force-btn-xs-ock div {
  @apply left-0;
}

/* remove up and down arrows from number inputs */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media (max-width: 640px) {
  .stats-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  .stats-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }
  .stats {
    width: max-content;
  }
}